*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr min-content;
}

#btn-add-card-modal {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.link {
  text-decoration: none;
  color: white;
}

.cards {
  padding: 3rem;
  display: grid;
  text-align: center;
  gap: 3rem;
  perspective: 150rem;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  align-content: space-around;
}

.card {
  display: grid;
  color: white;
  grid-template-rows: 20rem;
}

.card__side {
  display: grid;
  transition: all 1s ease;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.card__front {
  background-color: black;
  align-items: center;
}

.card__back {
  transform: rotateY(180deg);
  background-color: green;
  align-items: center;
}

.card:hover .card__front {
  transform: rotateY(-180deg);
}

.card:hover .card__back {
  transform: rotateY(0);
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  top: 0;
  display: grid;
}

.modal {
  position: absolute;
  display: grid;
  align-self: center;
  justify-self: center;
  background-color: white;
  box-shadow: 0px 0px 15px white;
  border-radius: 10px;
}

.modal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.modal__input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
}

.modal__input:focus {
  outline: none;
}

.footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 3rem;
}

.modal {
  display: grid;
  gap: 3rem;
  padding: 3rem;
}

#input-color {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.btn {
  cursor: pointer;
}
